:root {
    --background:#808000;
    --background1: #cb96d2 ;
    --background-card1: #a7bc66;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#heading {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px greenyellow, 0 0 5px darkgreen;
}
.background {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* represents 100% of the viewport height */
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16;
    max-width: 600px;
}
.card {
    position: relative;
    left: 0px;
    width: 70px;
    border-radius: 20px;
    height: 360px;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px 20px rgba(0, 0, 0, 0.5);
    flex: 0.25;
}
.card img {
    height: 360px;
}
.card:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 10px 10px 5px lightblue;
}
.background1 {
    background-color: var(--background1);
    display: grid;
    place-items: center;
    height: 100vh;
}
.gallery1 {
    display: flex;
    left: calc(50% - 330px);
}
.card1 {
    position: relative;
    left: 0px;
    width: 25%;
    height: 150px;
    background-color: var(--background-card1);
    border-radius: 8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}
.card1:not(:first-child) {
    margin-left: -40px;
}
.card1:hover {
    transform: translateY(-100px);
    font-weight: bold;
    border: 2px solid saddlebrown;
    border-radius: 50%;
    outline: 2px solid slateblue;
    outline-offset: 5px;
    cursor: pointer;
}
.card1:hover ~ .card1 {
    left: 55px;
}
.card1 img {
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
